﻿@model Lab2.EF.Book

<tr>
    <td class=" col-md-2">
        <img class="img-thumbnail" src="@Model.ImageLocation" />
    </td>
    <td class="col-md-7">
        <span>Name: @Model.Name</span>
        <br />
        <br />
        <span>Author: @Model.Author</span>
        <br />
        <br />
        <span>Description: @Model.Description</span>
        <br />
        <br />
        <span>Date of release: @Model.ReleaseDate</span>
        <br />
        <br />
        <button data-bookid="@Model.Id" data-toggle="modal" data-target="#editModal" class="btn btn-warning">Edit</button>
        <a asp-action="Delete" asp-controller="Home" asp-route-id="@Model.Id" class="btn btn-danger">Delete</a>
    </td>
    <td class="col-md-2">
        <h2 class="price">@Model.Price$</h2>
    </td>
</tr>

