﻿@model IEnumerable<Lab2.EF.Book>
@{
    ViewData["Title"] = "Home Page";
}

<div id="addModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add new book</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Create" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input type="text" name="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Author</label>
                        <input type="text" name="Author" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Price</label>
                        <input type="number" name="Price" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input type="text" name="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Image</label>
                        <input name="Image" type="file" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">ReleaseDate</label>
                        <input type="date" name="ReleaseDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Book edit</h4>
            </div>
            <div class="modal-body">
                <form asp-action="Edit" method="post" enctype="multipart/form-data">
                    <input id="editId" type="hidden" name="Id" />
                    <div class="form-group">
                        <label class="control-label">Name</label>
                        <input id="editName" type="text" name="Name" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Author</label>
                        <input id="editAuthor" type="text" name="Author" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Price</label>
                        <input id="editPrice" type="number" name="Price" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input id="editDescription" type="text" name="Description" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Image</label>
                        <input name="Image" type="file" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">ReleaseDate</label>
                        <input id="editDate" type="date" name="ReleaseDate" class="form-control" />
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Edit" class="btn btn-success" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="row my_header">
    <h2>
        Book List
        <button data-toggle="modal" data-target="#addModal" class="btn-success btn-add">Add new</button>
    </h2>
</div>
<br />
<div class="row ">
    <form asp-controller="Home" asp-action="Search" method="post">
        <div class="form-group">
            <div class="col-md-9">
                <input type="text" class="form-control" name="bookName" />
            </div>
            <div class="col-md-3">
                <input type="submit" class="form-control btn btn-success" value="Search" />
            </div>
        </div>
    </form>
</div>
<br />
<div class="row ">
    <form asp-controller="Xml" asp-action="Download" method="post" class="col-md-4">
        <input type="submit" value="Download XML" class="btn btn-warning" />
    </form>
    <div class="col-md-4"></div>
    <form id="upload-form" style="float:right" asp-controller="Xml" asp-action="Upload" method="post" enctype="multipart/form-data">
        <div class="upload-btn-wrapper">
            <button class="btn btn-warning">Upload a file</button>
            <input id="xml-file" type="file" name="userFile" />
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="text-center col-md-3">
                Image
            </th>
            <th class="text-center col-md-7">
                Details
            </th>
            <th class="text-center col-md-2">
                Price
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in Model)
        {
            <partial name="_BookRow" model="@b" />
        }
    </tbody>
</table>



